<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>

<body>

	{{ partial "header.html" . }}

	<!-- {{ range .Site.Params.sections }}
	{{ partial . $ }}
	{{ end }} -->
	
	 {{ partial "footer.html" . }}
    {{ partial "base-foot.html" . }}
</body>


<div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <h1 class="display-1">
	<h2>
			{{ .Title }}
			{{ .Content }}
			<!-- {{ partial "posts.html" . }} -->
	</h2>

        </a>
      </div>
    </div>
  </div>

</html>
<!-- endinject -->